/angularjs.bootstrap.dialog/demo/fonts
/angularjs.bootstrap.dialog/demo/js
/angularjs.bootstrap.dialog/demo/css
/angularjs.bootstrap.dialog/dist
/angularjs.bootstrap.dialog/node_modules
/angularjs.bootstrap.dialog/package-lock.json
/angularjs.bootstrap.dialog/nginx/logs
/angularjs.bootstrap.dialog/nginx/temp
/angularjs.utils/node_modules
/angularjs.utils/demo/js
/angularjs.utils/nginx/temp
/angularjs.utils/nginx/logs
/angularjs.utils/dist
/angularjs.app/node_modules
angularjs.app/dist/
angularjs.app/nginx/logs/
angularjs.app/nginx-path.bat
angularjs.app/browser.js
angularjs.app/nginx/temp/
