/angularjs.bootstrap.dialog/demo/fonts
/angularjs.bootstrap.dialog/demo/js
/angularjs.bootstrap.dialog/demo/css
/angularjs.bootstrap.dialog/dist
/angularjs.bootstrap.dialog/node_modules
/angularjs.bootstrap.dialog/package-lock.json
