<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MyLocalDataService-本地数据存储</title>
    <link rel="stylesheet" href="common.css" />
  </head>
  <body>
    <div class="tc" ng-controller="MyCtrl">
      <h1>本地存储演示</h1>
      <div class="tc">
        <input type="text" ng-model="localData.one" placeholder="第一个数据" />
        <input type="text" ng-model="localData.two" placeholder="第二个数据" />
        <button ng-click="save();">保存</button>
        <button ng-click="load();">加载</button>
        <button ng-click="remove();">清除</button>
      </div>
      <h1>本地会话演示</h1>
      <div class="tc">
        <input type="text" ng-model="sessionData.one" placeholder="第一个数据" />
        <input type="text" ng-model="sessionData.two" placeholder="第二个数据" />
        <button ng-click="saveSession();">保存</button>
        <button ng-click="loadSession();">加载</button>
        <button ng-click="removesession();">清除</button>
      </div>
    </div>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-sanitize.min.js"></script>
    <script src="js/angularjs.utils-1.0.0.min.js"></script>
    <script src="MyLocalDataService.js"></script>
  </body>
</html>
