<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>MyLocalDataService-本地数据存储</title>
  <link rel="stylesheet" href="common.css" />
</head>

<body>
  <div class="tc" ng-controller="MyCtrl">
    <div>
      <input type="text" ng-model="demo.md5data" placeholder="请输入要转换md5的字符" /> <button ng-click="md5()">md5加密</button> {{ demo.md5result }}
      <hr>
      <input type="text" ng-model="demo.trimData">-<span ng-bind="trimResult()"></span>-<span ng-bind="isEmpty()"></span>-{{demo.trimData}}-
      <hr>
      <textarea cols="50" rows="5" ng-model="htmldata"></textarea>
      <div>
        <pre ng-bind-html="showHtmlData()"></pre>
      </div>
      <div>是否是手机：<span ng-bind="isPhone"></span></div>
      <div class="tl">
        格式化json（浏览器相关信息）
        <pre ng-bind-html="browserInfo"></pre>
      </div>
      <div>
        <span ng-bind="uuid01"></span> | <span ng-bind="uuid02"></span>
      </div>
    </div>
  </div>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-sanitize.min.js"></script>
  <script src="js/angularjs.utils-1.0.0.min.js"></script>
  <script src="MyUtilService.js"></script>
</body>

</html>